.help {
	display: flex;
	flex-direction: column;
	align-content: center;
	// text-align: left;
	padding-top: 30px;
	margin: 20px;

	.para-bold {
		padding: 10px;
		font-size: 20px;
		font-weight: 500;
	}
	.para {
		padding: 10px;
		font-size: 20px;
		font-weight: 300;
	}
}